<div class="container-fluid" >
  <section>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 card shadow-lg bg-white border rounded">
        <div class="card-body formContent">
          <h3 class="d-flex">Login</h3>
          <form>
            <label class="form-label custom-line-height" for="username">Username</label>
            <input class="form-control" type="text" id="username" />
            <label for="password" class="form-label custom-line-height">Password</label>
            <input class="form-control" type="password" id="password" />
            <div class="row justify-content-around custom-line-height">
              <!-- <button type="submit" class="col-5 btn btn-success">Sign in</button> -->
              <a [routerLink]="['/profile']" class="col-5 btn btn-success">Sign in</a>
              <a [routerLink]="['/signup']" class="col-5 btn btn-link">Sign Up</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>