@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Poppins');

section {
    font-family: "Poppins", sans-serif;
}
.white-space {
    height: 50%;
    margin-top: 10%
}

.smoke{
    background-color:whitesmoke;
}

.white-space-botttom{
    margin-bottom: 10%
}

.white-space-horizontal {
    padding: 0px 10px;
}