<section class="smoke">
    <h2 class="row justify-content-center">
        <blockquote style="color:#5538cb"> amazon </blockquote>
    </h2>
</section>
<section style="background-color:#f8f8ff white-space-botttom">
    <router-outlet></router-outlet>
</section>
<section>
    <footer class="row justify-content-center white-space">
        <span><small>Condition of use</small></span>
        <span class="white-space-horizontal"></span>
        <span><small>Privacy Note</small></span>
        <span class="white-space-horizontal"></span>
        <span><small>Privacy Note</small></span>
        <span class="white-space-horizontal"></span>
        <span><small>Copyright</small></span>
    </footer>
</section>
