<section>
  <div class="row justify-content-around">
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
      <a class="navbar-brand" href="#">Profile</a>
    </nav>
  </div>
  <div class="row justify-content-around">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Shipping Address</h5>
          <div>
            <p>1st Street, 1st Main</p>
            <p>13, Bangalore</p>
            <p>Karanataka</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Home Address</h5>
          <div>
            <p>1st Street, 1st Main</p>
            <p>13, Bangalore</p>
            <p>Karanataka</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>