<section>
  <div class=" container row">
    <div class="col align-self-center">
      <h5>Welcome to amazon, the one stop shop.</h5>
    </div>
  </div>
  <div class="row justify-content-center">
    <h6>Below listed are your address.</h6>
  </div>
  <div class="row justify-content-end">
    <div class="col-10"></div>
    <div class="col-2">
      <a [routerLink]="['/login']" class="col-5 align-self-start btn btn-link">Logout</a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="card border-secondary bg-light">
        <div class="card-body text-secondary">
          <h5 class="card-title">Shipping Address</h5>
          <div>
            <p>1st Street, 1st Main</p>
            <p>13, Bangalore</p>
            <p>Karanataka</p>
          </div>
          <div class="row">
            <a [routerLink]="['/login']" class="col-5 align-self-start btn btn-link">Edit</a>
            <a [routerLink]="['/login']" class="col-5 align-self-start btn btn-link">Delete</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card border-secondary bg-light">
        <div class="card-body text-secondary">
          <h5 class="card-title">Home Address</h5>
          <div>
            <p>1st Street, 1st Main</p>
            <p>13, Bangalore</p>
            <p>Karanataka</p>
          </div>
          <div class="row">
            <a [routerLink]="['/login']" class="col-5 align-self-start btn btn-link">Edit</a>
            <a [routerLink]="['/login']" class="col-5 align-self-start btn btn-link">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>