<section>
  <div class="row justify-content-start">
      <h4 class="col align-self-start">Welcome to amazon, the one stop shop.</h4>
  </div>
  <div class="row justify-content-center">
    <h5 class="lead">Below listed are your address.</h5>
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Shipping Address</h5>
          <div>
            <p>1st Street, 1st Main</p>
            <p>13, Bangalore</p>
            <p>Karanataka</p>
          </div>
          <div class="row">
            <a [routerLink]="['/login']" class="col-5 align-self-start btn btn-link">Edit</a>
            <a [routerLink]="['/login']" class="col-5 align-self-start btn btn-link">Delete</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Home Address</h5>
          <div>
            <p>1st Street, 1st Main</p>
            <p>13, Bangalore</p>
            <p>Karanataka</p>
          </div>
          <div class="row">
            <a [routerLink]="['/login']" class="col-5 align-self-start btn btn-link">Edit</a>
            <a [routerLink]="['/login']" class="col-5 align-self-start btn btn-link">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>