<div class="container-fluid">
  <section>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 card shadow-lg bg-white border">
        <div class="card-body formContent">
          <h3 class="d-flex">Sign Up</h3>
          <form [formGroup]="signupForm"(ngSubmit)="signup()" >
            <label class="form-label custom-line-height" for="firstName">First Name</label>
            <input class="form-control" formControlName="firstName" type="text" id="firstName" />
            <label class="form-label custom-line-height" for="lastName">Last Name</label>
            <input class="form-control" formControlName="lastName" type="text" id="lastName" />
            <label class="form-label custom-line-height" for="emailAddress">Email Address</label>
            <input class="form-control" formControlName="emailAddress" type="email" id="emailAddress" />
            <label for="password" class="form-label custom-line-height">Password</label>
            <input class="form-control" formControlName="password" type="password" id="password" />
            <div class="row justify-content-around custom-line-height">
              <button type="submit" class="col-5 btn btn-primary">Sign Up</button>
              <a [routerLink]="['/login']" class="col-5 btn btn-link"> Login </a>
              <small class="form-text text-muted align-self-end">Already have an account. Please click Login</small>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>